*.o
_*
*.d
bootblock
bootblock.asm
entryother
entryother.asm
initcode
initcode.asm
initcode.out
vectors.S
kernel
kernel.asm
kernel.sym
xv6.img
cat.asm
cat.sym
echo.asm
echo.sym
forktest.asm
fs.img
grep.asm
grep.sym
init.asm
init.sym
kill.asm
kill.sym
ln.asm
ln.sym
ls.asm
ls.sym
mkdir.asm
mkdir.sym
mkfs
rm.asm
rm.sym
sh.asm
sh.sym
stressfs.asm
stressfs.sym
userprog.asm
userprog.sym
usertests.asm
usertests.sym
wc.asm
wc.sym
zombie.asm
zombie.sym
